

.appLayout {
    min-height: 100dvh;
    background-color: #f5f6f8;
}

.mainContent{
    width: 100%;
}

.divider {
    width: min(100% - 48px, 1280px);
    height: 1px;
    margin-inline: auto;

    background-color: #e5e7eb;
}