.setValidationError {
    margin:
        -5px
        0
        8px
        92px;

    font-size: 11px;
    line-height: 1.4;
    font-weight: 400;

    color: #dc2626;
}

.setRowWithError {
    border-bottom: none;
}